<form >
<p>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>Enter the Username</mat-icon>
      <mat-hint>Name</mat-hint>
    </mat-form-field>
  </p>
  <button mat-button (click)="bookroom()">BookRoom</button>
  <button mat-button (click)="cancelroom()">CancelRoom</button>
</form>
  
